
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(125deg, #387852, #112120);
	background-attachment: fixed;
}

body > * {
	position: relative;
	z-index: 1;
}

header {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	column-gap: 5vw;
}

header > img {
	margin: 1vw;
	width: 15vw;
}

header > a {
	color: white;
	font-size: 1.7vw;
}

header > a:hover {
	border-bottom: 2px solid white;
}

header > a:active {
	color: silver;
	border-bottom: 2px solid silver;
}

header > a:last-child {
	padding: 2vw 3vw;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	border-radius: 40%;
	margin-left: 1vw;
}

header > a:last-child:active {
	background: linear-gradient(#d46339, #c7372d);
	color: silver;
}

#top {
	display: flex;
	flex-flow: row nowrap;
}

#top > div:first-child {
	display: flex;
	flex-flow: column nowrap;
	width: 45vw;
	margin: 5vw 1vw 0 5vw;
	color: white;
	align-items: flex-start;
}

#top > div:first-child > h1 {
	font-size: 4vw;
	font-weight: 600;
}

#top > div:first-child > p {
	font-size: 2vw;
	font-weight: 100;
	margin-top: 4vw;
	color:silver;
}

#top > div:first-child > a {
	color: white;
	padding: 2vw 3vw;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	border-radius: 20%;
	font-size: 2vw;
	display: block;
	margin-top: 4vw;
}

#top > div:first-child > a:hover {
	border-bottom: 2px solid white;
}

#top > div:first-child > a:active {
	color: silver;
	border-bottom: 2px solid silver;
	background: linear-gradient(#d46339, #c7372d);
}

#top > div:nth-child(2) > img {
	position: absolute;
	z-index: 0;
}

#top > div:nth-child(2) > img:first-child {
	width: 35vw;
}

#top > div:nth-child(2) > img:nth-child(2) {
	width: 5vw;
}

#top > div:nth-child(2) > img:nth-child(3) {
	width: 6vw;
	margin: 30vw 37vw;
}

#top > div:nth-child(2) > img:nth-child(4) {
	width: 8vw;
	margin: 5vw 25vw;
}

#top > div:nth-child(2) > img:nth-child(5) {
	width: 8vw;
	margin: 6vw 32vw;
}

#top > div:nth-child(2) > img:nth-child(6) {
	width: 8vw;
	margin: 40vw 7vw;
}

#top > div:nth-child(2) > img:last-child {
	width: 8vw;
	margin: 39vw 0;
}
 
#bottom {
	margin-top: 5vw;
	width: 100%;
}

#middle {
	background-color: #F6F6F6;
}

#middle > div:first-child {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

#middle > div:first-child > div:first-child {
	width: 35vw;
}

#middle > div:first-child > div:first-child > h3 {
	font-size: 2vw;
	font-weight: 600;
	margin-bottom: 1vw;
}

#middle > div:first-child > div:first-child > h2 {
	font-size: 4vw;
	font-weight: 600;
	margin-bottom: 3vw;
}

#middle > div:first-child > div:first-child > p {
	font-size: 2vw;
	font-weight: 100;
	color:gray;
	margin-bottom: 6vw;
}

#middle > div:first-child > div:first-child > a {
	color: white;
	padding: 2vw 3vw;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	border-radius: 20%;
	font-size: 2vw;
}

#middle > div:first-child > div:first-child > a:hover {
	border-bottom: 2px solid gray;
}

#middle > div:first-child > div:first-child > a:active {
	color: dimgray;
	border-bottom: 2px solid dimgray;
	background: linear-gradient(#d46339, #c7372d);
}

#middle > div:first-child > img:nth-child(2) {
	width: 25vw;	
	margin-left: 2vw;
}

#middle > div:first-child > img:nth-child(3) {
	width: 30vw;
	margin-left: 2vw;
}

#middle > div:nth-child(2) {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 20vw 2vw;
}

#middle > div:nth-child(2) > img {
	width: 35vw;
}

#middle > div:nth-child(2) > div {
	width: 40vw;	
	margin-left: 3vw;
}

#middle > div:nth-child(2) > div > h2 {
	font-size: 4vw;
	font-weight: 600;
	margin-bottom: 3vw;
}

#middle > div:nth-child(2) > div > div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

#middle > div:nth-child(2) > div > div > img {
	width: 11vw;
	background-color: #FF5B4E;
	border-radius: 100%;
}

#middle > div:nth-child(2) > div > div > div {
	margin-left: 2vw;
}

#middle > div:nth-child(2) > div > div > div > h3 {
	font-size: 3vw;
	font-weight: 600;
}

#middle > div:nth-child(2) > div > div > div > h4 {
	font-size: 2vw;
	font-weight: 200;
	margin-top: 1vw;
	color: gray;
}

#middle > div:nth-child(2) > div > p {	
	font-size: 2vw;
	font-weight: 200;
	margin: 3vw 0 3vw 0;
	color:gray;
}

#middle > div:nth-child(2) > div > img {
	width: 5vw;
}

#middle > div:nth-child(3) {
	background-color: white;
	width: 90%;
	height: 40vw;
	margin: 5%;
	border-radius: 25px;
}

#middle > div:nth-child(3) > img:first-child {
	position:absolute;
	margin: 3vw 3vw 0 77vw;
	width: 6vw;
}

#middle > div:nth-child(3) > img:nth-child(2) {
	position:absolute;
	margin: 30vw 0 0 4vw;
	width: 6vw;
	transform: rotate(180deg);
}

#middle > div:nth-child(3) > h2 {
	text-align: center;
	padding-top: 10vw;
	font-size: 3vw;
}

#middle > div:nth-child(3) > p {
	font-size: 2vw;
	margin-top: 5vw;
	text-align: center;
	color: gray;
}

#middle > div:nth-child(3) > a {
	font-size: 2vw;
	margin: 5vw 0 0 36vw;
	color: white;
	padding: 2vw 3vw;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	border-radius: 20%;
	display: block;
	width: 15vw;
}

#middle > div:nth-child(3) > a:hover {
	border-bottom: 2px solid white;
}

#middle > div:nth-child(3) > a:active {
	color: gray;
	border-bottom: 2px solid gray;
	background: linear-gradient(#d46339, #c7372d);
}

#middle > div:nth-child(4) {
	margin: 15vw auto;
}

#middle > div:nth-child(4) > h2 {
	font-size: 5vw;
	font-weight: 600;
	margin: 0 0 3vw 29vw;
	width: 50vw;
}

#middle > div:nth-child(4) > h2 > div {
	margin: 0 0 1.5vw 4vw;
}

#middle > div:nth-child(4) > form {
	background-color: white;
	display: block;
	width: 53vw;
	height: 8vw;
	border-radius: 10px;
	margin: 2vw 0 15vw 23vw;
}

#middle > div:nth-child(4) > form > input {
	font-size: 3vw;
	margin: 2vw 0 0 2vw;
	width: 32vw;
}

#middle > div:nth-child(4) > form > button {
	font-size: 2vw;
	color: white;
	padding: 2vw 3vw;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	border-radius: 10px;
}

#middle > div:nth-child(4) > form > button:hover {
	border-bottom: 2px solid gray;
}

#middle > div:nth-child(4) > form > button:active {
	background: linear-gradient(#d46339, #c7372d);
	color: gray;
}

footer {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	column-gap: 5vw;
	background-color:#387852;
}

footer > img {
	margin: 1vw;
	width: 15vw;
}

footer > a {
	color: white;
	font-size: 1.7vw;
}

footer > a:hover {
	border-bottom: 2px solid gray;
}

footer > a:active {
	color: dimgray;
	border-bottom: 2px solid dimgray;
}

footer > a:last-child {
	padding: 2vw 3vw;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	border-radius: 40%;
	margin-left: 1vw;
	color: white;
}

footer > a:last-child:active {
	background: linear-gradient(#d46339, #c7372d);
	color: gray;
}