
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(125deg, #387852, #112120);
	background-attachment: fixed;
}

/* body > * {
	position: relative;
	z-index: 1;
} */

header {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	column-gap: 5vw;
}

header > img {
	margin: 1vw;
	width: 15vw;
}

header > a {
	color: white;
	font-size: 1.7vw;
}

header > a:hover {
	border-bottom: 2px solid white;
}

header > a:active {
	color: silver;
	border-bottom: 2px solid silver;
}

header > a:last-child {
	padding: 2vw 3vw;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	border-radius: 40%;
	margin-left: 1vw;
}

header > a:last-child:active {
	background: linear-gradient(#d46339, #c7372d);
	color: silver;
}

.services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3vw;
	margin: 5vh 5vw;
}

.services__item {
}

.service {
	width: 100%;
	color: white;
	display: grid;
	row-gap: 1vw;
	font-size: 1.5vw;
	background-color:#599a73;
	border-radius: 10px;
	overflow: hidden;
}

.service__image-container {
	width: 100%;
	height: 30vh;
}

.service__image-container > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.service__header {
	font-weight: 700;
	padding: 0 1vw;
}

.service__price {
	padding: 0 1vw;
}

.service__button {
	justify-self: end;
	padding: 0.7vw;
	font-size: inherit;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	color: white;
	border-radius: 10px 0 0 0;
}

.service__button:hover,
.service__button:focus {
	background-color: gray;
	background: linear-gradient(#d46339, #c7372d);
}

.service__button:active {
	background-color: dimgray;
	background: linear-gradient(#ba522c, #a6261c);
}

footer {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	column-gap: 5vw;
}

footer > img {
	margin: 1vw;
	width: 15vw;
}

footer > a {
	color: white;
	font-size: 1.7vw;
}

footer > a:hover {
	border-bottom: 2px solid gray;
}

footer > a:active {
	color: dimgray;
	border-bottom: 2px solid dimgray;
}

footer > a:last-child {
	padding: 2vw 3vw;
	background: linear-gradient(#FF7C4E, #FF5B4E);
	border-radius: 40%;
	margin-left: 1vw;
	color: white;
}

footer > a:last-child:active {
	background: linear-gradient(#d46339, #c7372d);
	color: gray;
}